body {
    background: #ffffff;
    color: #000000;
}

p {
    color: #000000;
}

footer {
    height: 150px;
    background: #fffc549a;
    padding-top: 40px;
    color: #a47f7f83;
}
.navbar  {
    margin-top: -10px;
    padding: 0px;
}
.container-md {
    background: #f4f4f4af;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}
button.nappi {
    background: #00e5ff;
    color: #000000;
    border-width: 1px;
}
button.POISTA {
    background: rgb(255, 0, 225);
    color: black;
    border-width: 1px;
}
form {
    margin-bottom: 25px;
}
.kirja {
    margin-bottom: 25px;
}
button.kysymys {
    background: #1500ff;
    color: #000000;
    border-width: 1px;
    width: 200px;
    margin-bottom: 10px;
    pointer-events: visibleFill;
}
div.kysymys {
    background: #0066ff;
    color: #000000;
    padding: 20px;
}
.correct {
    background: #00ff00;
}
.incorrect {
    background: #ff0000;
}
.locked {
    pointer-events: none;
    opacity: 0.6;
}
#score {
    font-size: 20px;
    margin-bottom: 20px;
}