body {
    background: #ffffff;
    color: #000000;
}

p {
    color: #000000;
}

footer {
    height: 150px;
    background: #fffc549a;
    padding-top: 40px;
    color: #a47f7f83;
}
.navbar  {
    margin-top: -10px;
    padding: 0px;
}
.container-md {
    background: #f4f4f4af;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}
button.nappi {
    background: #000000;
    color: #ffffff;
    border-width: 1px;
}
button.POISTA {
    background: red;
    color: black;
}
form {
    margin-bottom: 25px;
}
.kirja {
    margin-bottom: 25px;
}